<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Random Quote Generator</title>
    <meta name="description" content="proxy server">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Random Quote Generator API
      </h1>
    </header>

    <main>
      <div class="row">
        <div class="desc-and-form">   
          <p>Api address : <a class="api-address" href="https://mighty-poet.glitch.me/api.quotes/random">https://mighty-poet.glitch.me/api.quotes/random</a></p>
          <p>Method : Get</p>
          <p>Required params : none</p>
          <p>Returns : one random quote</p>
          <p>Format : json</p>
          <p>Example : <a href="https://mighty-poet.glitch.me/api.quotes/random">https://mighty-poet.glitch.me/api.quotes/random</a></p>          
          <form>
            <button type="submit">Test</button>
          </form>
        </div>
        <div class="json-display">
          <pre id="quote"></pre>
        </div>
      </div>
      <div class="row">
        <div class="desc-and-form">   
          <p>Api address : <a class="api-address" href="https://mighty-poet.glitch.me/api.quotes/authors">https://mighty-poet.glitch.me/api.quotes/authors</a></p>
          <p>Method : Get</p>
          <p>Required params : none</p>
          <p>Returns : list of authors</p>
          <p>Format : json</p>
          <p>Example : <a href="https://mighty-poet.glitch.me/api.quotes/authors">https://mighty-poet.glitch.me/api.quotes/authors</a></p>          
        </div>
      </div>
      <div class="row">
        <div class="desc-and-form">   
          <p>Api address : <a class="api-address" href="https://mighty-poet.glitch.me/api.quotes/author-starts-with">https://mighty-poet.glitch.me/api.quotes/author-starts-with</a></p>
          <p>Method : Get</p>
          <p>Required params : startswith - string</p>
          <p>Returns : list of authors that start with parameter</p>
          <p>Format : json</p>
          <p>Example : <a href="https://mighty-poet.glitch.me/api.quotes/author-starts-with?startswith=a">https://mighty-poet.glitch.me/api.quotes/author-starts-with?startswith=a</a></p>          
        </div>
      </div>        
      <div class="row">
        <div class="desc-and-form">   
          <p>Api address : <a class="api-address" href="https://mighty-poet.glitch.me/api.quotes/author-starts-with">https://mighty-poet.glitch.me/api.quotes/author</a></p>
          <p>Method : Get</p>
          <p>Required params : author - string</p>
          <p>Returns : list of quotes by given author</p>
          <p>Format : json</p>
          <p>Example : <a href="https://mighty-poet.glitch.me/api.quotes/author?author=Abraham Lincoln">https://mighty-poet.glitch.me/api.quotes/author?author=Abraham Lincoln</a></p>          
        </div>
      </div>               

      <br/>
      <a href="https://glitch.com/edit/#!/mighty-poet?path=server.js:1:0" target="_blank">View Code</a>
    </main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
