#apidoc {
  font-size: 18px;
}

.row p {
  margin-left: 10px;
  margin-top: 2px ;
  margin-bottom: 2px ;
}

#apidoc a:link, #apidoc a:visited {
  color: lightslategray;
}

#apidoc a:hover, #apidoc a:active {
  color: #21709b;
}
